<!-- <link rel="stylesheet" href="./css/styles.css" /> -->
<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link">
      <svg class="icon-logo" width="109" height="28">
        <use href="./img/img/icons.svg"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <a href="./index.html" class="nav-link">Home</a>
      <a href="./shopping-list.html" class="nav-shopping">Shopping list
        <svg class="shopping-icon" width="20" height="20">
          <use href="./img/icons.svg"></use>
        </svg>
      </a>
    </nav>
    <div class="theme-container">
      <label class="switch">
        <input type="checkbox" class="switch_input" name="theme" id="theme" />
        <span class="switch_slider"> </span>
      </label>
      <button class="btn-menu hidden" type="button">
        <svg class="icon-menu" width="28" height="28">
          <use href="./img/icons.svg#icon-align-left"></use>
        </svg>
      </button>
      <button class="btn-close" type="button">
        <svg class="icon-close" width="28" height="28">
          <use href="./img/icons.svg"></use>
        </svg>
      </button>
      <button class="user-btn" type="button">
        <img class="user-photo" src="#" alt="user" />
        <!-- <p class="user-name">Stephan</p> -->
        <svg class="icon-down" width="23" height="26">
          <use href="./img/icons.svg"></use>
        </svg>
      </button>
    </div>
  </div>
  <script type="module" src="./main.js"></script>
</header>