<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
  <body>
    <h2>Categories</h2>
    <ul id="category-list"></ul>

    <h2>Resources</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper" id="resource-list"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <script src="../js/category-list.js" type="module"></script>
    <div id="resource-list" class="swiper-container">
      <div class="swiper-wrapper"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="support.js" type="module"></script>
  </body>
</html>
