<div class="home-container">
  <div class="categories-support-container">
    <section class="categories-section">
      <div class="categories-container">
        <ul class="category-list" id="category-list"></ul>
      </div>

      <script src="./js/category-list.js" type="module"></script>
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js" type="module"></script>
      <!-- <script src="../support.js" type="module"></script> -->
    </section>

    <!-- SUPPORT UKRAINE МАЄ БУТИ ТУТ () -->
    <section class="support-section"></section>
  </div>

  <section class="books-section">
    <div class="caterories-content">
      <div class="books-title-container"></div>
      <ul class="top-books-list"></ul>
      <ul class="books-list"></ul>
      <ul class="book-list"></ul>
    </div>

    <script src="./js/home.js" type="module"></script>
  </section>
</div>