<section class="homepage" id="homepage">
  <div class="container navigation-category">
    <aside class="aside-menu">
      <ul class="category-list">
        <li class="category-list-item" id="all-categories">
          <h4 class="category-name">All categories</h4>
        </li>
      </ul>
      <aside class="support-box">
        <h3 class="support-title">
          Support Ukraine
          <svg class="support-svg" width="20" height="32">
            <use href="./img/icons.svg#icon-trident"></use>
          </svg>
        </h3>
        <div class="slider-container">
          <ul class="support-list js-support"></ul>
        </div>

        <div class="button-support slider-button">
          <button class="support-button">
            <svg class="support-button-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-arrow-scroll-down"></use>
            </svg>
          </button>
        </div>
      </aside>
    </aside>

    <div class="gallery">
      <div class="title-wrapper">
        <h2 class="category-title"></h2>
        <h2 class="category-title-color"></h2>
      </div>
      <ul class="gallery-list"></ul>
    </div>
  </div>

  <script type="module" src="./js/render.js"></script>
  <script type="module" src="./js/modal-window.js"></script>
  <script type="module" src="./js/support.js"></script>
</section>
