<div class="container">
  <div class="shopping-list-wrapper">
    <div class="support-ua-panel">
      <!-- copy from homepage -->
      <div class="shoping-support">
        <aside class="support-box">
          <h3 class="support-title">
            Support Ukraine
            <svg class="support-svg" width="20px" height="32px">
              <use href="../img/icons.svg#icon-trident"></use>
            </svg>
          </h3>
          <div class="slider-container">
            <ul class="support-list js-support"></ul>
          </div>

          <div class="button-support slider-button">
            <button class="support-button">
              <svg class="support-button-svg">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
        </aside>
      </div>
    </div>

    <div class="list-of-added-books">
      <h1 class="title">
        <span class="main-name">Shopping</span>
        <span class="main-name-list">List</span>
      </h1>
      <ul class="shopping-list"></ul>
    </div>
  </div>
</div>

<script type="module" src="./js/themechange.js"></script>

<script type="module" src="./js/header.js"></script>
<script type="module" src="./js/mob-menu.js"></script>

<script type="module" src="./js/shopping-list.js"></script>
<script type="module" src="./js/support.js"></script>
