<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #F6F6F6; margin: 0;">
    <section class="shoplist-zerobooks container">
        <h1 class="shoplist-name">
          <span style="color: #111111">Shopping</span>
          <span style="color: #4f2ee8">List</span>
        </h1>
        <div class="shoplist-zerobook-block">
          <p class="shoplist-zerobooks-text">
            This page is empty, add some books and proceed to order.
          </p>
              <img src="./img/books-pile.jpg" 
              class="shoplist-zerobooks-img"
              srcset="./img/books-pile.jpg 1x, ./img/book-pile-2x.jpg 2x"
              alt="This page is empty" 
              width="265px"
              height="198px">
        </div>
        <div class="shoplist-book-block" id="shoplistBook" >
            <!-- style="display: none;" в див написать -->
            <img src="book-cover.jpg" alt="Book Cover" class="shoplist-book-cover">
            <div class="shoplist-book-info">
                <h2 class="shoplist-book-title">Название книги</h2>
                <h3 class="shoplist-book-genre">hmmm</h3>
                <p class="shoplist-book-description">Описание книги...</p>
                <h4 class="shoplist-book-autor">gmmmm</h4>
            </div>
            <button class="shoplist-delete-button">
                <svg width="16" height="16" class="shoplist-delete-icon">
                    <use href="../img/icons.svg#trash"></use>
                  </svg>
            </button>
        </div>
      </section>
      
</body>
</html>