/* =====СТИЛІ ДЛЯ КОНТЕЙНЕРА ГОЛОВНОЇ СТОРІНКИ ДЛЯ HOME.CSS */
/* СТАРТ КОДУ ДО ПЕРЕНЕСЕННЯ */
.home-container {
    max-width: 375px;
    margin-bottom: 40px;
    /* ========МАРДЖИН ТОП ДО ЗМІНИ========= */
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    /* ==== ФЛЕКС =======*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categories-support-container {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1440px) {
    .home-container {
        max-width: 1392px;
        flex-direction: row;
    }

    .categories-support-container {
        flex-direction: column;
    }

    .books-section {
        width: 996px;
    }
}

/* КІНЕЦЬ КОДУ ДО ПЕРЕНЕСЕННЯ */





.categories-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 228px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.categories-container::-webkit-scrollbar {
    width: 8px;
    height: 114px;

}

.categories-container::-webkit-scrollbar-thumb {
    width: 8px;
    height: 114px;
    border: 12px solid #e0e0e0;
    border-radius: 12px;
}

.categories-container::-webkit-scrollbar-thumb:hover {
    background-color: #b4afaf;
}

.category-item {
    font-family: "DMSans";
    padding: 12px 0;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
    cursor: pointer;
    transform-origin: center left;
    transition: all .16s ease-in-out;
}

.category-item:is(:hover, :focus) {
    color: #4f2ee8;
    transition: all ease-in-out 160ms;
    transform: scale(1.05)translate(10px);
}

.category-item:first-child {
    padding-top: 0;
}

.category-item:last-child {
    padding-bottom: 0;
}

.category-item.active {
    font-weight: 700;
    text-transform: uppercase;

    color: #4f2ee8;
}

@media screen and (min-width: 768px) {
    .categories-section {
        max-width: 768px;
    }

    .categories-container {
        width: 337px;
        max-height: 472px;
    }

    .category-list::-webkit-scrollbar {
        height: 167px;
    }

    .category-item {
        padding: 16px 0;
        font-size: 18px;
        line-height: 1.33;
    }
}