body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* color: #111111;
    background-color: #F6F6F6; */
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* @media screen and (min-width:1280px) {
        .container {
            max-width: 1100px;
            padding-left: 10px;
            padding-right: 10px;
    
        }
    } */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1392px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
