.page-header {
  border: 1.5px solid #111111;
  border-radius: 0 0 8px 8px;
  width: 375px;
  padding: 18px 20px;
  margin: 0;
  min-width: 375px;
}

.navbar {
  display: flex;
  align-content: center;
}

.mob-menu {
  display: none;
}
