
.header {
  position: relative;
  background-color: var(--header-bg-color);
  border: 1.50px solid var(--header-border-color);
  border-radius: 0 0 8px 8px;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo-link {
  height: 28px;
  fill:var(--header-text-color);
}

.nav-menu {
  display: none;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.nav-link {
  display: block;
  border-radius: 36px;
  width: 72px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-text-color);
}



.nav-shopping {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--header-text-color);

}

 

.current{
  background-color: #eac645;
  color: #111;
  padding: 8px 16px;
  border-radius: 36px;
  font-weight: 700;
  

}
.current>.shopping-icon{
  stroke: #111;
  fill: #111;}



.shopping-icon {
  stroke: var(--header-text-color);
  fill: var(--header-text-color);
}


.theme-container {
  display: flex;
  gap: 14px;
  align-items: center;
}

.switch {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
}

.switch_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch_slider {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  transition: 0.4s;
}

.switch_slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  bottom: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* .switch_input:hover+.switch_slider {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}  */

.switch_input:checked+.switch_slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.switch_input:checked+.switch_slider::before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}

.icon-menu {
  stroke: var(--header-text-color);
  
}

.btn-close {
  border: none;
  display: flex;
  background-color: transparent;
  width: 28px;
  height: 28px;
  padding: 0;
}

.icon-close {
  stroke: var(--header-text-color);
}

.btn-close:hover .icon-close {
  stroke: #4F2EE8;
  transition: 0.4s;
}

.btn-menu {
  display: flex;
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  padding: 0;
}

.btn-menu:hover .icon-menu {
  stroke: #4F2EE8;
  transition: 0.4s;
}

.user-photo {
  margin-right: 9px;
}

.user-name {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-right: 4px;
}

.user-btn {
  border: none;
  display: none;
  align-items: center;
  border-radius: 36px;
  width: 184px;
  height: 45px;
  background-color: #4f2ee8;
}

@media screen and (min-width:768px) {
  .header-container {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav-menu {
    display: flex;
  }

  .btn-menu {
    display: none;
  }

  .btn-close {
    display: none;
  }
}

@media screen and (min-width:1440px) {

  .header-container {
    justify-content: flex-start;
  }

  .logo-link {
    margin-right: 76px;
  }

  .nav-menu {
    margin-right: auto;
  }
}

/* Dark theme

.dark-mode-header {
   color: #fff; 
  background-color: #111111;
  border: 1.50px solid #fff;
  transition: 0.4s;
}

.dark-mode-body {
  color: #fff;
  background-color: #202024;
  transition: 0.4s;
}

.dark-icons {
  fill: #fff;
  color: #fff;
  stroke: #fff;
  transition: 0.4s;
}

.dark-color-list{
  color:rgba(17, 17, 17, 0.6);
} */