.homepage {
  padding-top: 40px;
  background-color: var(--main-bg-color);
  ::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    height: 114px;
    background: #e0e0e0;
    border-radius: 12px;
  }
}
.navigation-category {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.category-list {
  width: 100%;
  height: 228px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  overflow-y: scroll;
}
.category-list-item {
  cursor: pointer;
  color: var(--color-of-category-text);
}
.category-name {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  transition: 400ms;
}
.active {
  color: var(--color-of-categoryAll-text);
  font-size: 56px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.category-name:hover,
.category-name:focus,
.category-name:active {
  color: var(--color-of-categoryAll-text);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 400ms;
}
/* .category-name.all {
  color: var(--color-of-categoryAll-text);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 400ms;
} */
.aside-menu {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.support {
  width: 335px;
  height: 446px;
  border-radius: 16px;
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    190.7% 191.09% at 60% -23%,
    rgb(79, 46, 232) 18.027%,
    rgb(255, 255, 255) 100%
  );
}
.gallery {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 80px;
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 40px 24px;
  margin-top: 40px;
}
.gallery-list-item {
  margin-bottom: 8px;
  cursor: pointer;
}
.gallery-list-group:not(:first-child) {
  margin-top: 40px;
}
.gallery-item:nth-child(-n + 4) {
  display: none;
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 6px;
}
.category-title {
  color: var(--first-titles-color);
  font-size: 29px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -4%;
  text-align: left;
}
.category-title-color {
  color: var(--color-of-categoryAll-text);
  font-size: 29px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -4%;
  text-align: left;
}
.book-cover {
  width: 100%;
  height: 485px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
}
.book-title {
  padding-top: 14px;
  color: var(--first-titles-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -4%;
  text-align: left;
  text-transform: uppercase;
}
.book-author {
  padding-top: 4px;
  padding-bottom: 8px;
  color: rgb(180, 175, 175);
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -4%;
  text-align: left;
}
.gallery-list-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.list-group-name {
  color: rgb(180, 175, 175);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.see-more-btn {
  background: transparent;
  display: flex;
  position: absolute;
  right: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  padding: 14px 28px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
}
.see-more-btn {
  box-sizing: border-box;
  border: 2px solid rgb(79, 46, 232);
  border-radius: 40px;
  object-fit: contain;
  color: var(--first-titles-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: left;
  text-transform: uppercase;
  transition: 250ms all ease;
}
.see-more-btn:hover,
.see-more-btn:active,
.see-more-btn:focus {
  background: rgb(79, 46, 232);
  color: #e0e0e0;
  transition: 250ms all ease;
}
@media screen and (min-width: 768px) {
  .navigation-category {
    flex-direction: column;
    gap: 40px;
  }
  .aside-menu {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: start;
  }
  .support {
    width: 335px;
    height: 472px;
  }
  .title-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
  .gallery-list-group:not(:first-child) {
    margin-top: 40px;
  }
  .category-list {
    width: 337px;
    height: 472px;
  }
  .gallery-list-item {
    margin-bottom: 20px;
  }
  .gallery-item:nth-child(-n + 2) {
    display: block;
  }
  .category-name {
    /* color: rgba(17, 17, 17, 0.6); */
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: left;
  }
  .gallery {
    padding-top: 60px;
  }
  .image-wrapper {
    width: 180px;
    height: 256px;
    display: block;
    border-radius: 8px;
  }
  .book-cover {
    width: 218px;
    height: 316px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
  }
}
@media screen and (min-width: 1440px) {
  .navigation-category {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .category-list {
    width: 356px;
    height: 472px;
  }
  .gallery-item:nth-child(-n + 5) {
    display: block;
  }
  .category-name {
    /* color: rgba(17, 17, 17, 0.6); */
    font-size: 18px;
    font-weight: 400;
  }
  .active {
    color: rgb(79, 46, 232);
    font-size: 56px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  .title-wrapper {
    flex-wrap: nowrap;
  }
  .aside-menu {
    gap: 40px;
    flex-direction: column;
    align-items: start;
  }
  /*.support {
      width: 356px;
      height: 472px;
  }*/
  .support {
    width: 356px;
    height: 472px;
  }
  .gallery {
    padding-top: 0;
  }
  .gallery-list-item {
    margin-bottom: 32px;
  }
  .image-wrapper {
    width: 180px;
    height: 256px;
    display: block;
    border-radius: 8px;
  }
  .book-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -4%;
    text-align: left;
    text-transform: uppercase;
  }
  .book-cover {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
  }
}
