.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
}

.modal {
  width: 335px;
  height: 762px;
  border-radius: 18px;
  background-color: var(--main-bg-color-modal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 24px;
  border: 2px solid var(--header-border-color);
}

.close-modal {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  padding: 0;
}

.modal-svg-close {
  fill: transparent;
  stroke: var(--first-titles-color);
}

.img-modal {
  max-width: 100%;
  height: 408px;
  border: 1px solid;
  border-radius: 18px;
  margin-bottom: 14px;
}

.book-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--first-titles-color);
  margin-bottom: 4px;
}

.author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-align: left;
  color: rgb(180, 175, 175);
}

.title-books {
  margin-bottom: 18px;
}

.about-book {
  margin-bottom: 17px;
  color: var(--first-titles-color);
}

.sale-place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 115px;
  height: 32px;
  cursor: pointer;
  /* filter: var(--color-amazon); */
}

.add-localstorage {
  display: flex;
  position: absolute;
  width: 211px;
  height: 46px;
  left: 62px;
  top: 695px;

  padding: 14px 28px 14px 28px;
  color: var(--first-titles-color);

  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid rgb(79, 46, 232);
  border-radius: 43px;
  background-color: transparent;
}

/* .remove-localstorage {
  position: absolute;
  width: auto;
  height: 46px;
  left: 28px;
  top: 676px;
  padding: 14px 23px 14px 23px;
  box-sizing: border-box;
  border: 2px solid rgb(79, 46, 232);
  border-radius: 40px;
  color: var(--first-titles-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  text-align: left;
  text-transform: uppercase;
} */

.add-localstorage:hover,
.remove-localstorage:hover,
.add-localstorage:focus,
.remove-localstorage:focus {
  color: rgb(255, 255, 255);
  background: rgb(79, 46, 232);
  transition: 0.4s;
}

.close {
  display: none;
}
.congrat {
  position: absolute;

  width: 242px;
  height: 36px;
  left: 47px;
  right: 46px;
  top: 754px;
  bottom: 40px;
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -4%;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    height: 465px;
    padding: 40px;
  }
  .hidden {
    display: none;
  }
  .close-modal {
    top: 31px;
    right: 24px;
    width: 24px;
    height: 28px;
    padding: 0;
  }

  .desktop {
    display: flex;
    gap: 24px;
  }

  .img-modal {
    min-width: 192px;
    height: 281px;
    margin-bottom: 0;
  }

  .launch {
    width: auto;
  }

  .add-localstorage {
    width: 499px;
    height: 64px;
    left: 40px;
    top: 361px;
  }

  /* .remove-localstorage {
    position: absolute;
    width: 499px;
    height: 64px;
    left: 40px;
    top: 361px;
    text-align: center;
  } */

  .congrat {
    position: absolute;
    width: 324px;
    left: 128px;
    right: 127px;
    top: 433px;
    bottom: 40px;
    color: var(--first-titles-color);
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -4%;
    text-align: center;
  }
}

.close-modal:hover .modal-svg-close {
  stroke: #4f2ee8;
  transition: 0.4s;
}

.amazon-link {
  filter: var(--color-amazon);
}

.apple-link {
  filter: var(--color-apple);
}

/* .amazon-link:hover{
  filter: var(---color-hover);
}  */
