body {
  background-color: var(--main-bg-color);
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--first-text-color);
}

.shoping-support {
  display: none;
}

.support-ua-panel {
  display: none;
}

.shoping-list {
  display: flex;
  gap: 40px;
}

/* .description {} */

.main-name-list {
  color: var(--color-of-categoryAll-text);
}

/* .main-name {} */

.one-book {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px 14px;
  width: 335px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: var(--header-bg-color);
}

.book-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--first-text-color);
  padding-bottom: 4px;
}

.up-part {
  display: flex;
  align-items: center;
}

.shoplist-zerobooks-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--first-text-color);
  width: 193px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.name-author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
  padding-right: 58px;
}

.img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.img-book {
  border-radius: 8px;
  width: 100px;
  height: 142px;
  margin-right: 14px;
}

.basket {
  background-color: #4f2ee8;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-left: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.basket {
  background-color: #4f2ee8;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-left: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trash {
  fill: #ffffff;
}

.book-app {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 8px;
}

.amazon {
  filter: grayscale(100%);
  width: 32px;
  height: 11px;
}

.book-app {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 8px;
}
.amazon {
  filter: grayscale(100%);
  width: 32px;
  height: 11px;
}

.apple {
  filter: grayscale(100%);
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .one-book {
    width: 704px;
    height: 213px;
    padding: 24px 24px;
  }

  .text-discription {
    width: 508px;
    height: 38px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .img-book {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }

  .book-app {
    padding-top: 56px;
  }

  .name-author {
    padding-right: 348px;
  }

  .basket {
    margin-left: 368px;
  }

  .amazon {
    width: 48px;
    height: 15px;
  }

  .apple {
    width: 28px;
    height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  .one-book {
    width: 996px;
    height: 213px;
  }

  .text-discription {
    width: 808px;
    height: 53px;
  }

  .name-author {
    padding-right: 645px;
  }
  .book-app {
    padding-top: 46px;
  }
  .basket {
    margin-left: 660px;
  }

  .shoping-support {
    padding-top: 40px;
    padding-left: 24px;
    display: block;
  }
}

.shopping-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;

  margin: 0 auto;
}

/* .support-ua-panel {
  display: flex;
  gap: 40px;
  flex-direction: column;
} */

.shopping-list-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.support-ua-panel {
  display: block;
  width: 396px;
}

.list-of-added-books {
  display: flex;
  flex-direction: column;
}
