.shoplist-name{
    font-family: "DM Sans Bold", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    letter-spacing: -0.04em;
    margin-top: 40px;
    margin-bottom: 120px;

}
.shoplist-zerobooks{
    min-width: 265px;
    min-height: 248px;

}
.container{
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f6f6f6;
}
.shoplist-zerobooks-text{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    padding-bottom: 14px;
    padding-left: 11px;
    padding-right: 11px;
    width: 244px;
    min-height: 36px;
}
.shoplist-zerobooks-img{
    min-width: 265px;
    height: auto;
}
.shoplist-zerobook-block{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    
}

/* АДАПТИВ */

