body {
  overflow-x: hidden;
}
.shoplist-name {
  font-family: 'DM Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.04em;
  margin-bottom: 120px;
}
.shoplist-zerobooks {
  min-width: 265px;
  min-height: 248px;
}

.shoplist-zerobooks-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
  opacity: 0.6;
  padding-bottom: 14px;
  padding-left: 11px;
  padding-right: 11px;
  width: 244px;
  min-height: 36px;
}
.shoplist-zerobooks-img {
  min-width: 265px;
  height: auto;
}
.shoplist-zerobook-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* БЛОК КНИГ */

.shoplist-book-block {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px;
  /* width: 335px; */
  /* max-height: 170px; */
  max-height: calc(177px - (padding + margin));
  background-color: #fff;
  display: flex;
}
.shoplist-delete-button {
  border-radius: 50%;
  border: none;
  background-color: #4f2ee8;
  width: 28px;
  height: 28px;
  color: #fff;
}
.shoplist-delete-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.shoplist-book-cover {
  border-radius: 8px;
  /* min-width: 100px; */
  height: 142px;
  /* float: left; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.shoplist-book-title {
  font-family: 'DM Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111111;
  padding-left: 14px;
  padding-bottom: 4px;
  height: 18px;
}
.shoplist-book-genre {
  font-family: 'DM Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #b4afaf;
  padding-left: 14px;
  padding-bottom: 8px;
  height: 14px;
}
.shoplist-book-description {
  font-family: 'DM Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: #111111;
  width: 193px;
  padding-left: 14px;
  padding-bottom: 16px;
  height: 68px;
}
.shoplist-book-autor {
  font-family: 'DM Sans Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.04em;
  color: #b4afaf;
  padding-left: 14px;
}



/* тут надо расположить картинку слева, а всё справа. может дисплей флекс, посмотрим */

/* АДАПТИВ */
