@import url('./reset.css');
@import url('./header.css');
@import url('./home.css');
@import url('./modal-window.css');
@import url('./shopping-list.css');
@import url('./footer.css');

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/static/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/static/DMSans-SemiBold.ttf') format('truetype'),
    url('../fonts/static/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/static/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/static/DMSans-Italic.ttf') format('truetype');
}

.section-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #111111;
}
.header-blue-part {
  color: #4f2ee8;
}
